// File soon to be deprecated
// Файл скоро будет устаревшим

$primary-dark-blue: #2D56AB; // Dark blue
$primary-blue: #0086C6; // Blue

$black: #000;
$pre-gray: #19191A;
$gray: #373739;
$pre-light-gray: #606063;
$light-gray: #909296;
$pre-white: #C1C2C5;
$white: #FFF;

$white-transparency: #FFFFFF55;
$white-transparency-stroke: #FFFFFFC0;